/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 17, 17;
  --background-rgb: 255, 255, 227;
}

@layer base {
  body {
    font-family: 'et-book', Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    font-feature-settings: 'ss01', 'ss02', 'cv01', 'cv02', 'cv03';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.015em;
    font-size: 17px;
    line-height: 1.6;
  }

  @media (min-width: 768px) {
    body {
      font-size: 18px;
    }
  }
}

.breadcrumb {
  display: flex;
  gap: 0.75rem;
  align-items: baseline;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgba(17, 17, 17, 0.6);
  font-weight: 450;
  margin-bottom: 2rem;
}

.breadcrumb a {
  color: #e5383b;
  text-decoration: none;
  transition: all 0.2s ease;
}

.breadcrumb a:hover {
  color: #c72c2f;
}

.breadcrumb span {
  color: rgba(17, 17, 17, 0.6);
}

.prose {
  font-size: 1.125rem;
  line-height: 1.75;
  letter-spacing: -0.011em;
}

.prose p {
  margin-bottom: 1.75em;
  font-weight: 400;
}

@media (min-width: 768px) {
  .prose {
    font-size: 1.25rem;
  }
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}